:root {
  /* palette 1 */
  --cb-color1: #e63946;
  --cb-color2: #f1faee;
  --cb-color3: #a8dadc;
  --cb-color4: #457b9d;
  --cb-color5: #1d3557;
}
body,
.navbar .container,
main,
footer {
  background-color: var(--cb-color3);
  font-family: 'Roboto';
}
h3.d-inline-flex {
  font-family: 'Pacifico';
  color: var(--cb-color2);
  font-size: 2.7em;
}
a.nav-link {
  font-family: 'Merriweather';
  font-size: 1.7em;
  color: var(--cb-color2);
  letter-spacing: 1.5px;
}
header {
  padding: 10px 0;
}
.logo {
  width: 15%;
}
.recipe {
  margin: 1rem;
}
.recipe img {
  opacity: 0.8;
}
.recipe .card-title {
  background-color: var(--cb-color4);
  border-radius: 10px;
  padding: 1px;
  opacity: 0;
  transition: opacity 0.5s ease 0s;
}
.recipe:hover .card-title {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
.recipe:hover img {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
form {
  width: 500px;
  background-color: var(--cb-color3);
  padding: 25px;
  border-radius: 20px;
}

/* RECIPE PAGE */

.recipe-container {
  width: 40%;
  background-color: var(--cb-color2);
}

.recipe-img {
  width: 100%;
}

.share-button {
  background-color: var(--cb-color1);
  color: var(--cb-color2);
}

@media screen and (max-width: 1250px) {
  .recipe-container {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .recipe-container {
    width: 90%;
  }
}
