:root {
  /* palette 1 */
  /* --cb-color1: #e63946;
  --cb-color2: #f1faee;
  --cb-color3: #a8dadc;
  --cb-color4: #457b9d;
  --cb-color5: #1d3557; */

  /* palette 2 */
  --cb-color1: #f77039;
  --cb-color2: #f3c7a0;
  --cb-color3: #eef0d0;
  --cb-color4: #1d4989;
  --cb-color5: #2e609e;
}
body,
header,
.navbar .container,
main,
footer {
  background-color: var(--cb-color2);
}
header {
  padding: 10px 0;
}
.logo {
  width: 7em;
  height: 7em;
  border-radius: 100px;
}
.recipes {
  min-height: 250px;
}
.recipe {
  margin: 1rem;
}
.recipe img {
  opacity: 1;
}
.recipe .card-title {
  opacity: 0;
  transition: opacity 0.2s ease 0s;
}
.recipe:hover .card-title {
  opacity: 1;
  transition: opacity 0.5s ease 0s;
}
.list {
  border: 1px solid var(--cb-color4);
}
